{% extends 'opcalendar/base.html' %}
{% load bootstrap %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load evelinks %}
{% block page_title %}{% trans "Create Operation" %}{% endblock page_title %}

{% block content %}
<div class="allianceauth-opcalendar">
    <div class="clearfix">
        {% include "opcalendar/partials/calendar/legends.html" %}
    </div>
</div>
<div class="allianceauth-opcalendar">
    <div class="card">
        <div class="card-header">
            {% include "opcalendar/partials/calendar/navigation.html" %}
            </div>
        <div class="card-body">
            {{ calendar }}
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_javascript %}
    {% include 'bundles/jquery-datetimepicker-js.html' %}
    <script>
        let selectedEvents = []

        $('.legend').on('click', 'span', function(){
            const classes = $(this).attr('class')
            const selectors = '.' + classes.split(' ').join('.').replace('.active', '')

            // clear all selections on show-all
            if(selectors.includes('show-all')){
                selectedEvents = []
                $('.legend .event').removeClass('active')
                $(this).addClass('active')
            }

            // remove current selection if it's already present in the selectedEvents array
            else if(selectedEvents.includes(selectors)){
                selectedEvents = selectedEvents.filter(event => event !== selectors)
                $(this).removeClass('active')
            }

            // add the current selection to the selectedEvents array
            else{
                selectedEvents.push(selectors)
                $(this).addClass('active')
            }

            applyCalendarFilters(selectedEvents)

        })

        function applyCalendarFilters(selectedEvents){
            $('.calendar .event').hide()

            if(selectedEvents.length){
                selectedEvents.forEach(selectors => $('.calendar ' + selectors).show())
            }
            else{
                $('.calendar .event').show()
            }
        }
    </script>
{% endblock %}
