{% extends 'opcalendar/base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}
Event Details
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        {% include "opcalendar/partials/event_details/navigation.html" %}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ event.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">
            Created by: {{ event.eve_character }}<br>
            {% trans "Current Eve Time:" %} <strong class="label label-info text-left" id="current-time"></strong>
        </h6>
        {% include "opcalendar/partials/event_details/details.html" %}
    </div>
</div>

<div class="card" style="margin-top:10px;">
    <div class="card-header">
        {% include "opcalendar/partials/event_details/signups_navigation.html" %}
    </div>
    <div class="card-body">
        {% include "opcalendar/partials/event_details/signups.html" %}
    </div>
</div>

<div class="card" style="margin-top:10px;">
    <div class="card-header">
        Host Details
    </div>
    <div class="card-body">
        {% include "opcalendar/partials/event_details/host.html" %}
    </div>
</div>

{% include 'bundles/moment-js.html' with locale=True %}
    <script src="{% static 'js/timers.js' %}"></script>
    <script type="application/javascript">
        // Data
        var timers = [
            {
                'id': {{ event.id }},
                'start': moment("{{ event.start_time | date:"c" }}"),
                'expired': false
            },
        ];
    </script>
    <script type="application/javascript">

        timedUpdate();
        setAllLocalTimes();

        // Start timed updates
        setInterval(timedUpdate, 1000);

        function timedUpdate() {
            updateClock();
            updateAllTimers();
        }

        function updateAllTimers () {
            var l = timers.length;
            for (var i=0; i < l; ++i) {
                if (timers[i].expired) continue;
                updateTimer(timers[i]);
            }
        }

        /**
         * Update a timer
         * @param timer Timer information
         * @param timer.start Date of the timer
         * @param timer.id Id number of the timer
         * @param timer.expired
         */
        function updateTimer(timer) {
            if (timer.start.isAfter(Date.now())) {
                var duration = moment.duration(timer.start - moment(), 'milliseconds');
                document.getElementById("countdown" + timer.id).innerHTML = getDurationString(duration);
            } else {
                timer.expired = true;
                document.getElementById("countdown" + timer.id).innerHTML = "";
            }
        }

        /**
         * Set all local time fields
         */
        function setAllLocalTimes() {
            var l = timers.length;
            for (var i=0; i < l; ++i) {
                setLocalTime(timers[i]);
            }
        }

        /**
         * Set the local time info for the timer
         * @param timer Timer information
         * @param timer.start Date of the timer
         * @param timer.id Id number of the timer
         */
        function setLocalTime(timer) {
            document.getElementById("localtime" + timer.id).innerHTML = timer.start.format("ddd MM-DD HH:mm");
        }

        function updateClock() {
            document.getElementById("current-time").innerHTML = getCurrentEveTimeString();
        }
    </script>
{% endblock %}
