{% extends 'opcalendar/base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block page_title %}{% trans "Create Operation" %}{% endblock page_title %}
{% block extra_css %}
    {{ block.super }}
    {% include 'bundles/jquery-datetimepicker-css.html' %}
{% endblock extra_css %}

{% block content %}
<div class="aa-opcalendar">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8 col-xl-6">
            <div class="card">
                <div class="card-header">{% trans "Edit Event" %}</div>
                <div class="card-body">
                    <div class="mb-3">
                        {% trans "Current Timezone:" %} <strong class="badge bg-info">{{ active_tz|default:"UTC" }}</strong>
                    </div>
                    <form role="form" action="" method="POST">
                        {% csrf_token %}
                        {% bootstrap_field form.title %}
                        {% bootstrap_field form.operation_type %}
                        {% bootstrap_field form.host %}
                        {% bootstrap_field form.event_visibility %}
                        <div class="row">
                            <div class="col-md-6">{% bootstrap_field form.start_time %}</div>
                            <div class="col-md-6">{% bootstrap_field form.end_time %}</div>
                        </div>
                        {% bootstrap_field form.fc %}
                        {% bootstrap_field form.formup_system %}
                        {% bootstrap_field form.doctrine %}
                        {% bootstrap_field form.description %}
                        <div class="d-grid mt-3">
                            <button class="btn btn-lg btn-primary" type="submit">{% trans "Edit Event" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extra_javascript %}
  {% include 'bundles/jquery-datetimepicker-js.html' %}
  <script>
    $(document).ready(() => {
      $('#id_start_time').datetimepicker({
        setlocale: '{{ LANGUAGE_CODE }}',
        mask: true,
        format: 'Y-m-d H:i',
        minDate: 0,
        onChangeDateTime: function(currentDateTime) {
          if (currentDateTime) {
            // Add 1 hour (60 minutes * 60 seconds * 1000 milliseconds)
            let endDateTime = new Date(currentDateTime.getTime() + (60 * 60 * 1000)); 

            // Ensure end time can't be before start time
            $('#id_end_time').datetimepicker('setOptions', { minDate: currentDateTime });
            $('#id_end_time').val(formatDateTime(endDateTime));
          }
        }
      });
  
      // Initialize the datetimepicker for end_time
      $('#id_end_time').datetimepicker({
        setlocale: '{{ LANGUAGE_CODE }}',
        mask: true,
        format: 'Y-m-d H:i',
        minDate: 0
      });
    });
  
    // Helper function to format the Date object as 'Y-m-d H:i'
    function formatDateTime(date) {
      let year = date.getFullYear();
      let month = ('0' + (date.getMonth() + 1)).slice(-2); // Months are 0-based, so add 1
      let day = ('0' + date.getDate()).slice(-2);
      let hours = ('0' + date.getHours()).slice(-2);
      let minutes = ('0' + date.getMinutes()).slice(-2);
      
      return `${year}-${month}-${day} ${hours}:${minutes}`;
    }
  </script>
{% endblock %}
