
                <style>.{{event.get_visibility_class}}:before{border-color: transparent {{event.event_visibility.color}} transparent transparent;border-style: solid;} .{{event.get_category_class}} {border-left: 6px solid {{event.operation_type.color}} !important;}
                </style>
                <table>
                    <tr>
                        <td style="padding-right: 10px;"><b>Type:</b></td>
                        <td><span class="event {{ event.get_category_class }}">{{ event.operation_type }}</span></td>
                    </tr>
                    <tr>
                        <td style="padding-right: 10px;"><b>Availability:</b></td>
                        <td><span class="event {{ event.get_visibility_class }}">{{ event.event_visibility }}</span></td>
                    </tr>
                    <tr>
                        <td style="padding-right: 10px;"><b>Start time:</b></td>
                        <td>{{ event.start_time|date:"D Y-m-d H:i" }} (EVE) / <span id="localtime{{ event.id }}"></span> (Local)</td>
                    </tr>

                    <tr>
                        <td style="padding-right: 10px;"><b>Est. end time:</b></td>
                        <td>{{ event.end_time|date:"D Y-m-d H:i" }}</td>
                    </tr>
                    <tr>
                        <td style="padding-right: 10px;"><b>Duration:</b></td>
                        <td>{{ event.duration }}</td>
                    </tr>
                    <tr>
                        <td style="padding-right: 10px;"><b>Formup location:</b></td>
                        <td>{{ event.formup_system }}</td>
                    </tr>
                    <tr>
                        <td style="padding-right: 10px;"><b>Doctrine:</b></td>
                        <td>{{ event.doctrine }}</td>
                    </tr>
                    <tr>
                        <td style="padding-right: 10px;"><b>Fleet Commander:</b></td>
                        <td>{{ event.fc }}</td>
                    </tr>
                </table>
                <br>
                {{ event.description }}