                <table>
                    <tr>
                        <td style="padding-right: 10px;"><b>Community:</b></td>
                        <td><span>{{ event.host.community|urlize }}</span></td>
                    </tr>
                    <tr>
                        <td style="padding-right: 10px;"><b>Ingame channel:</b></td>
                        <td><span>{{ event.host.ingame_channel|urlize }}</span></td>
                    </tr>
                    <tr>
                        <td style="padding-right: 10px;"><b>Ingame mailing list:</b></td>
                        <td><span>{{ event.host.ingame_mailing_list|urlize }}</span></td>
                    </tr>
                    <tr>
                        <td style="padding-right: 10px;"><b>Fleet comms:</b></td>
                        <td><span>{{ event.host.fleet_comms|urlize }}</span></td>
                    </tr>
                    <tr>
                        <td style="padding-right: 10px;"><b>Fleet doctrines:</b></td>
                        <td><span>{{ event.host.fleet_doctrines|urlize }}</span></td>
                    </tr>
                    <tr>
                        <td style="padding-right: 10px;"><b>Website:</b></td>
                        <td><span>{{ event.host.website|urlize }}</span></td>
                    </tr>
                    <tr>
                        <td style="padding-right: 10px;"><b>Discord:</b></td>
                        <td><span>{{ event.host.discord|urlize }}</span></td>
                    </tr>
                    <tr>
                        <td style="padding-right: 10px;"><b>Twitch:</b></td>
                        <td><span>{{ event.host.twitch|urlize }}</span></td>
                    </tr>
                    <tr>
                        <td style="padding-right: 10px;"><b>Twitter:</b></td>
                        <td><span>{{ event.host.twitter|urlize }}</span></td>
                    </tr>
                    <tr>
                        <td style="padding-right: 10px;"><b>Youtube:</b></td>
                        <td><span>{{ event.host.youtube|urlize }}</span></td>
                    </tr>
                    <tr>
                        <td style="padding-right: 10px;"><b>Facebook:</b></td>
                        <td><span>{{ event.host.facebook|urlize }}</span></td>
                    </tr>
                </table>