{% load i18n %}

<div class="d-flex w-100">
    <div class="d-flex gap-2">
        <form method="get" action="{% url 'opcalendar:calendar' %}">
            <button class="btn btn-primary" type="submit"><i class="far fa-calendar-alt"></i> {% trans "Back to Calendar" %}</button>
        </form>
        <form method="get" action="{% url 'opcalendar:event-ical-view' event.pk %}">
            <button class="btn btn-success" type="submit"><i class="fas fa-bookmark"></i> {% trans "Add to my calendar" %}</button>
        </form>
        {% if can_edit and not event.external %}
            <form method="get" action="{% url 'opcalendar:event_edit' event.pk %}">
                <button class="btn btn-primary" type="submit"><i class="fas fa-edit"></i> {% trans "Edit Event" %}</button>
            </form>
            {% if event.is_cancelled %}
                <form method="post" action="{% url 'opcalendar:uncancel_event' event.id %}">
                    {% csrf_token %}
                    <button class="btn btn-success" type="submit"><i class="fas fa-redo"></i> {% trans "Re-enable Event" %}</button>
                </form>
            {% else %}
                <button class="btn btn-warning" type="button" data-bs-toggle="modal" data-bs-target="#cancelEventModal">
                    <i class="fas fa-ban"></i> {% trans "Cancel Event" %}
                </button>
            {% endif %}
        {% endif %}
    </div>
    {% if can_edit and not event.external %}
        <div class="ms-auto">
            <button class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#deleteEventModal">
                <i class="fas fa-trash"></i> {% trans "Delete Event" %}
            </button>
        </div>
    {% endif %}
</div>
