{% load i18n %}

{% if not event.is_placeholder %}
  {% if perms.opcalendar.see_signups %}
  <table class="table table-bordered">
    <thead>
      <tr>
        <th style="width: 10px">{% trans "#" %}</th>
        <th>{% trans "Main Character" %}</th>
        <th>{% trans "Status" %}</th>
        <th>{% trans "Comment" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for member in eventmember %}
      <tr role="row">
          <td>{{ forloop.counter }}</td>
          <td><img src="{{ member.character.portrait_url_32 }}" class="rounded-circle" width="32" height="32" alt="{{ member.character }}"> {{ member.character }}</td>
          <td>
            {% if member.status == "A" %}
              {% trans "Attending" %}
            {% elif member.status == "M" %}
              {% trans "Maybe" %}
            {% elif member.status == "D" %}
              {% trans "Declined" %}
            {% else %}
              {% trans "Unknown" %}
            {% endif %}
          </td>
          <td>{{ member.comment|default:"-" }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
{% endif %}

{% if event.is_placeholder %}
    {% if perms.opcalendar.see_signups %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="width: 10px">#</th>
                <th>{% trans "Character" %}</th>
            </tr>
        </thead>
        <tbody>
        {% for member in interested_members %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><img src="{{ member.character.portrait_url_32 }}" class="rounded-circle" width="32" height="32" alt="{{ member.character }}"> {{ member.character }}</td>
            </tr>
        {% empty %}
            <tr><td colspan="2">{% trans "No interest registered yet." %}</td></tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endif %}
